<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="boardUpdate">
      <h2 data-cy="boardUpdateDetailsHeading"><span jhiTranslate="boardUpdatesApp.boardUpdate.detail.title">Board Update</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ boardUpdate.id }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.boardUpdate.version">Version</span></dt>
        <dd>
          <span>{{ boardUpdate.version }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.boardUpdate.path">Path</span></dt>
        <dd>
          <span>{{ boardUpdate.path }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.boardUpdate.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'boardUpdatesApp.UpdateType.' + boardUpdate.type }}">{{ boardUpdate.type }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.boardUpdate.releaseDate">Release Date</span></dt>
        <dd>
          <span>{{ boardUpdate.releaseDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.boardUpdate.status">Status</span></dt>
        <dd>
          <span>{{ boardUpdate.status }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.boardUpdate.board">Board</span></dt>
        <dd>
          <div *ngIf="boardUpdate.board">
            <a [routerLink]="['/board', boardUpdate.board?.id, 'view']">{{ boardUpdate.board?.serial }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/board-update', boardUpdate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Update&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>

      <button type="button" class="btn btn-primary" (click)="download()">
        <fa-icon icon="download"></fa-icon>&nbsp;Update&nbsp;<span jhiTranslate="entity.action.download">Download</span>
      </button>

      <jhi-update-keys [boardUpdate]="boardUpdate"></jhi-update-keys>

<!--      <div class="curl-request">-->
<!--        <h2 id="page-heading">-->
<!--          <span>Request-Example</span>-->
<!--        </h2>-->
<!--        <pre><code>curl -X POST &#45;&#45;location "{{currentHost}}/search/software" \-->
<!--  -H "Content-Type: application/json" \-->
<!--  -d "{{ "{" }}-->
<!--    \"serial\": \"{{requestBody.serial}}\",-->
<!--    \"version\": \"{{requestBody.version}}\",-->
<!--    \"status\": \"{{requestBody.status}}\",-->
<!--    \"firmware\": \"{{requestBody.firmware}}\",-->
<!--    \"software\": \"{{requestBody.software}}\",-->
<!--    \"updateKeys\": [-->
<!--      {{requestBody.updateKeys.join(", ")}}-->
<!--    ]-->
<!--  }"</code></pre>-->
<!--      </div>-->

      <jhi-download-url [boardUpdateId]="boardUpdate.id"></jhi-download-url>

<!--      <jhi-board-update-successor [boardUpdateId]="boardUpdate.id"></jhi-board-update-successor>-->
    </div>
  </div>
</div>
