<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-software-update-heading"
        data-cy="SoftwareUpdateCreateUpdateHeading"
        jhiTranslate="boardUpdatesApp.softwareUpdate.home.createOrEditLabel"
      >
        Create or edit a Software Update
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.softwareUpdate.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.softwareUpdate.board" for="field_board">Board</label>
          <select class="form-control" id="field_board" data-cy="board" name="board" formControlName="board">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="boardOption.id === editForm.get('board')!.value?.id ? editForm.get('board')!.value : boardOption"
              *ngFor="let boardOption of boardsSharedCollection; trackBy: trackBoardById"
            >
              {{ boardOption.serial }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.softwareUpdate.from" for="field_from">From</label>
          <select class="form-control" id="field_from" data-cy="from" name="from" formControlName="from">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="softwareOption.id === editForm.get('from')!.value?.id ? editForm.get('from')!.value : softwareOption"
              *ngFor="let softwareOption of softwareSharedCollection; trackBy: trackSoftwareById"
            >
              {{ softwareOption.version }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.softwareUpdate.to" for="field_to">To</label>
          <select class="form-control" id="field_to" data-cy="to" name="to" formControlName="to">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="softwareOption.id === editForm.get('to')!.value?.id ? editForm.get('to')!.value : softwareOption"
              *ngFor="let softwareOption of softwareSharedCollection; trackBy: trackSoftwareById"
            >
              {{ softwareOption.version }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
