<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="software">
      <h2 data-cy="softwareDetailsHeading"><span jhiTranslate="boardUpdatesApp.software.detail.title">Software</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ software.id }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.software.version">Version</span></dt>
        <dd>
          <span>{{ software.version }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.software.path">Path</span></dt>
        <dd>
          <span>{{ software.path }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.software.board">Board</span></dt>
        <dd>
          <div *ngIf="software.board">
            <a [routerLink]="['/board', software.board?.id, 'view']">{{ software.board?.serial }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/software', software.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
