<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="board">
      <h2 data-cy="boardDetailsHeading"><span jhiTranslate="boardUpdatesApp.board.detail.title">Board</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ board.id }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.board.serial">Serial</span></dt>
        <dd>
          <span>{{ board.serial }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.board.version">Version</span></dt>
        <dd>
          <span>{{ board.version }}</span>
        </dd>
      </dl>

      <jhi-board-update-list [board]="board"></jhi-board-update-list>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/board', board.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
