<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="firmware">
      <h2 data-cy="firmwareDetailsHeading"><span jhiTranslate="boardUpdatesApp.firmware.detail.title">Firmware</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ firmware.id }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.firmware.version">Version</span></dt>
        <dd>
          <span>{{ firmware.version }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.firmware.path">Path</span></dt>
        <dd>
          <span>{{ firmware.path }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.firmware.board">Board</span></dt>
        <dd>
          <div *ngIf="firmware.board">
            <a [routerLink]="['/board', firmware.board?.id, 'view']">{{ firmware.board?.serial }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/firmware', firmware.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
