<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-software-heading" data-cy="SoftwareCreateUpdateHeading">Neues Update erstellen</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label" for="field_version">Software Version</label>
              <input
                type="text"
                class="form-control"
                name="softwareVersion"
                id="field_version"
                data-cy="softwareVersion"
                formControlName="softwareVersion"
              />
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_software_file">Software Update</label>
              <input
                type="file"
                (change)="onSoftwareFileChange($event)"
                class="form-control-file"
                name="softwareFile"
                id="field_software_file"
                data-cy="softwareFile"
                accept="application/zip"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label" for="field_version">Firmware Version</label>
              <input
                type="text"
                class="form-control"
                name="firmwareVersion"
                id="field_firmware_version"
                data-cy="firmwareVersion"
                formControlName="firmwareVersion"
              />
            </div>

            <div class="form-group">
              <label class="form-control-label" for="field_firmware_file">Firmware Update</label>
              <input
                type="file"
                (change)="onFirmwareFileChange($event)"
                class="form-control-file"
                name="firmwareFile"
                id="field_firmware_file"
                data-cy="firmwareFile"
                accept="application/zip"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.software.board" for="field_board">Board</label>
          <select class="form-control" id="field_board" data-cy="board" name="board" formControlName="board">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="boardOption.id === editForm.get('board')!.value?.id ? editForm.get('board')!.value : boardOption"
              *ngFor="let boardOption of boardsSharedCollection; trackBy: trackBoardById"
            >
              {{ boardOption.serial }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
