<div>
  <h2 id="page-heading" data-cy="BoardUpdateHeading">
    <span jhiTranslate="boardUpdatesApp.boardUpdate.home.title">Board Updates</span>

    <div class="d-flex justify-content-end">
      <form name="editForm" role="form" novalidate (ngSubmit)="loadAll()" [formGroup]="searchForm" class="form-inline">
        <div class="input-group mr-2">
          <label class="form-control-label mr-2" for="field_board">Serial</label>
          <select class="form-control" id="field_board" data-cy="board" name="board" formControlName="board">
            <option [ngValue]="null"></option>
            <option
              *ngFor="let boardOption of boardsCollection; trackBy: trackBoardById"
              [ngValue]="boardOption.id === searchForm.get('board')!.value?.id ? searchForm.get('board')!.value : boardOption"
            >
              {{ boardOption.serial }}
            </option>
          </select>
        </div>

        <div class="input-group mr-2">
          <label class="form-control-label" for="field_type">Typ</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'boardUpdatesApp.UpdateType.null' | translate }}</option>
            <option value="FIRMWARE">{{ 'boardUpdatesApp.UpdateType.FIRMWARE' | translate }}</option>
            <option value="SOFTWARE">{{ 'boardUpdatesApp.UpdateType.SOFTWARE' | translate }}</option>
          </select>
        </div>
      </form>

      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="boardUpdatesApp.boardUpdate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-board-update"
        [routerLink]="['/board-update/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="boardUpdatesApp.boardUpdate.home.createLabel"> Create a new Board Update </span>
      </button>
    </div>
  </h2>

  <div class="alert alert-warning" id="no-result" *ngIf="boardUpdates?.length === 0">
    <span jhiTranslate="boardUpdatesApp.boardUpdate.home.notFound">No boardUpdates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="boardUpdates && boardUpdates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Version</span></th>
          <th scope="col"><span>Pfad</span></th>
          <th scope="col"><span>Typ</span></th>
          <th scope="col"><span>Release Date</span></th>
          <th scope="col"><span>Serial</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boardUpdate of boardUpdates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/board-update', boardUpdate.id, 'view']">{{ boardUpdate.id }}</a>
          </td>
          <td>{{ boardUpdate.version }}</td>
          <td>{{ boardUpdate.path }}</td>
          <td jhiTranslate="{{ 'boardUpdatesApp.UpdateType.' + boardUpdate.type }}">{{ boardUpdate.type }}</td>
          <td>{{ boardUpdate.releaseDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="boardUpdate.board">
              <a [routerLink]="['/board', boardUpdate.board?.id, 'view']">{{ boardUpdate.board?.serial }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/board-update', boardUpdate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/board-update', boardUpdate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(boardUpdate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
