<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="softwareUpdate">
      <h2 data-cy="softwareUpdateDetailsHeading">
        <span jhiTranslate="boardUpdatesApp.softwareUpdate.detail.title">Software Update</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ softwareUpdate.id }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.softwareUpdate.active">Active</span></dt>
        <dd>
          <span>{{ softwareUpdate.active }}</span>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.softwareUpdate.board">Board</span></dt>
        <dd>
          <div *ngIf="softwareUpdate.board">
            <a [routerLink]="['/board', softwareUpdate.board?.id, 'view']">{{ softwareUpdate.board?.serial }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.softwareUpdate.from">From</span></dt>
        <dd>
          <div *ngIf="softwareUpdate.from">
            <a [routerLink]="['/software', softwareUpdate.from?.id, 'view']">{{ softwareUpdate.from?.version }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="boardUpdatesApp.softwareUpdate.to">To</span></dt>
        <dd>
          <div *ngIf="softwareUpdate.to">
            <a [routerLink]="['/software', softwareUpdate.to?.id, 'view']">{{ softwareUpdate.to?.version }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/software-update', softwareUpdate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
