<div>
  <h2 id="page-heading" data-cy="BoardHeading">
    <span jhiTranslate="boardUpdatesApp.board.home.title">Boards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="boardUpdatesApp.board.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-board"
        [routerLink]="['/board/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="boardUpdatesApp.board.home.createLabel"> Create a new Board </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="boards?.length === 0">
    <span jhiTranslate="boardUpdatesApp.board.home.notFound">No boards found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="boards && boards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="boardUpdatesApp.board.serial">Serial</span></th>
          <th scope="col"><span jhiTranslate="boardUpdatesApp.board.version">Version</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of boards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/board', board.id, 'view']">{{ board.id }}</a>
          </td>
          <td>{{ board.serial }}</td>
          <td>{{ board.version }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/board', board.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/board', board.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(board)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
