<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-board-update-successor-heading"
        data-cy="BoardUpdateSuccessorCreateUpdateHeading"
        jhiTranslate="boardUpdatesApp.boardUpdateSuccessor.home.createOrEditLabel"
      >
        Create or edit a Board Update Successor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.boardUpdateSuccessor.from" for="field_from">From</label>
          <select class="form-control" id="field_from" data-cy="from" name="from" formControlName="from">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="boardUpdateOption.id === editForm.get('from')!.value?.id ? editForm.get('from')!.value : boardUpdateOption"
              *ngFor="let boardUpdateOption of fromsCollection; trackBy: trackBoardUpdateById"
            >
              {{ boardUpdateOption.version }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boardUpdatesApp.boardUpdateSuccessor.to" for="field_to">To</label>
          <select class="form-control" id="field_to" data-cy="to" name="to" formControlName="to">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="boardUpdateOption.id === editForm.get('to')!.value?.id ? editForm.get('to')!.value : boardUpdateOption"
              *ngFor="let boardUpdateOption of tosCollection; trackBy: trackBoardUpdateById"
            >
              {{ boardUpdateOption.version }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
